runs\detect\exp\
C:\Users\Administrator\Documents\GitHub\PRE-BRAVE2.0\Pre-Brave-main\runs\detect\exp\
Pre-Brave-main/target.png
Pre-Brave-main/TESTBOX.py
Pre-Brave-main/img.png
Pre-Brave-main/runs/detect/
Pre-Brave-main/TESTBOX.py
Pre-Brave-main/img/giphy.gif
Pre-Brave-main/TESTBOX.py
Pre-Brave-main/TESTBOX.py
Pre-Brave-main/target.png
Pre-Brave-main/img.png
